.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    font-family: Helvetica, sans-serif;
    .leftbar{
        display: flex;
        flex-direction: column;
        width: 270px;
        height: 100%;
        background-color: black;
        .logo-name{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: baseline;
            width: 100%;
            height: 84px;
            margin-left: 30px;
            p{
                font-size: 16px;
                color: #FFFFFF;
                line-height: 24px;
            }
            .logo1{
                margin-right: 13px;
            }
            .search{
                margin-left: 82px;
                margin-right: 15px;
            }
        }
        .profile{
            display: flex;
            width: 100%;
            height: 80px;
            background-color: #202020;
            align-items: center;
            justify-content: baseline;
            .profile-text{
                margin-left: 15px;
                :first-child{
                    font-size: 14px;
                    color: #FFFFFF;
                }
                :last-child{
                    font-family: Helvetica;
                    font-size: 12px;
                    color: #9B9B9B;
                    padding-top: 2px;
                }
            }
            img{
                width: 48px;
                height: 48px;
                border-radius: 100%;
                margin-left: 30px;
            }
            .dots{
                width: 17px;
                height: 20px;
                margin-left: 49px;
            }
        }
        .tasks{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 80px;
            margin-left: 30px;
            .leftside{
                display: flex;
                flex-direction: column;
                width: 50%;
                height: 80px;
                justify-content: center;
                :first-child{
                    font-size: 20px;
                    color: white;
                }
                :last-child{
                    font-size: 12px;
                    color: white;
                    opacity: 0.5;
                }
            }
            .rightside{
                display: flex;
                flex-direction: column;
                width: 50%;
                height: 80px;
                justify-content: center;
                :first-child{
                    font-size: 20px;
                    color: white;
                }
                :last-child{
                    font-size: 12px;
                    color: white;
                    opacity: 0.5;
                }
            }
        }
        .menu{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 120px;
            p{
                color: #878787;
                font-size: 12px;
                line-height: 18px;
                margin-left: 30px;
            }
            ul{
                list-style: none;
                padding: 0;
                margin-left: 30px;
                li{
                    padding-bottom: 16px;
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .main{
        display: flex;
        flex-direction: column;
        background-color: #EEEBE4;
        width: 100%;
        height: 100%;
        .topbar{
            display: flex;
            width: 100%;
            height: 136px;
            background-color: white;
            .leftside{
                display: flex;
                flex-direction: column;
                width: 35%;
                height: 100%;
                .block-top{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: baseline;
                    width: 100%;
                    height: 60%;
                    margin-left: 30px;
                    margin-top: 35px;
                    .oval-logo{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 11px;
                        margin-top: 4px;
                        width: 30px;
                        height: 30px;
                        border-radius: 100px;
                        background-color: #eaeaea;
                        img{
                            width: 12px;
                            height: 20px;
                        }
                    }
                    .logo{
                        width: 40px;
                        height: 40px;
                        background-color: orange;
                        border-radius: 10px;
                    }
                    p{
                        font-family: Helvetica;
                        font-size: 32px;
                        color: #131313;
                        margin-left: 15px;
                    }
                }
                .block-down{
                    display: flex;
                    margin-top: 10px;
                    ul{
                        display: flex;
                        flex-direction: row;
                        list-style: none;
                        padding-left: 30px;
                        li{
                            padding-right: 30px;
                            a{
                                text-decoration: none;
                                color: black;
                            }
                        }
                        li.active a{
                            opacity: 1;
                            border-bottom: solid;
                            padding-bottom: 14px;
                            border-color: yellow;
                        }
                    }
                }
            }
            .rightside{
                display: flex;
                flex-direction: row;
                width: 65%;
                height: 100%;
                align-items: center;
                justify-content: flex-end;
                .profiles{
                    display: flex;
                    align-items: baseline;
                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        padding: 5px;
                    }
                }
                .buttons{
                    display: flex;
                    flex-direction: row;
                    margin-right: 30px;
                    .share{
                        width: 67px;
                        height: 30px;
                        border: none;
                        border-radius: 15px;
                        margin-left: 10px;
                        background-color: #eaeaea;
                        cursor: pointer;
                        font-size: 14px;
                    }
                    .chat{
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        width: 81px;
                        height: 30px;
                        border: none;
                        margin-left: 15px;
                        padding-right: 14px;
                        padding-left: 5px;
                        border-radius: 15px;
                        background-color:#FFF8DD;
                        color: #ffc200;
                        font-size: 14px;
                        cursor: pointer;
                        &::before{
                            display: block;
                            width: 16px;
                            height: 16px;
                            margin-left: 5px;
                            margin-right: 5px;
                            background-image: url(./assets/button.svg);
                            content: " ";
                        }
                    }
                }
            }
        }
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            .main-content{
                display: flex;
                flex-direction: column;
                height: fit-content;
                width: 730px;
                margin-top: 30px;
                background-color: white;
                border-radius: 8px;
                overflow: hidden;
                .text-day{
                    display: flex;
                    margin:35px 655px 0px 30px;
                    opacity: 0.5;
                    font-family: Helvetica;
                    font-size: 14px;
                    color: #131313;
                }
                .message1{
                    display: flex;
                    flex-direction: row;
                    margin-top: 32px;
                    margin-left: 30px;
                    .img{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px;
                        width: 40px;
                        height: 40px;
                        border-radius: 100px;
                        background-color: #cef9c6;
                    }
                    .text1{
                        width: 461px;
                        height: 40px;
                        font-family: Helvetica;
                        font-size: 16px;
                        color: #131313;
                        line-height: 20px;
                    }
                    .text-time-1{
                        margin-left: 96px;
                        opacity: 0.7;
                        font-family: Helvetica;
                        font-size: 14px;
                        color: #131313;
                        text-align: right;
                        line-height: 20px;
                    }
                }
                .message2{
                    display: flex;
                    flex-direction: row;
                    margin-top: 30px;
                    margin-left: 30px;
                    .text2{
                        width: 461px;
                        height: 40px;
                        font-family: Helvetica;
                        font-size: 16px;
                        color: #131313;
                        line-height: 20px;
                    }
                    .text-time-2{
                        margin-left: 96px;
                        opacity: 0.7;
                        font-family: Helvetica;
                        font-size: 14px;
                        color: #131313;
                        text-align: right;
                        line-height: 20px;
                    }
                    .img-second{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px;
                        width: 40px;
                        height: 40px;
                        border-radius: 100px;
                        background-color: #FFF8DD;
                        img{
                            width: 35px;
                            height: 16px;
                        }
                    }
                }
                .message3{
                    display: flex;
                    align-items: center;
                    width: 551px;
                    height: 88px;
                    background-color: #f7f6f3;
                    border-radius: 10px;
                    margin-left: 91px;
                    margin-top: 20px;
                    .text3{
                        width: 492px;
                        height: 48px;
                        padding: 20px 30px 20px 29px;
                        font-family: Helvetica;
                        font-size: 15px;
                        color: #131313;
                    }
                }
                .message4{
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;
                    .text4{
                        width: 461px;
                        height: 40px;
                    }
                    .text-time-3{
                        margin-left: 96px;
                        opacity: 0.7;
                        font-family: Helvetica;
                        font-size: 14px;
                        color: #131313;
                        text-align: right;
                        line-height: 20px;
                    }
                    .img-triple{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px;
                        margin-left: 30px;
                        width: 40px;
                        height: 40px;
                        border-radius: 100px;
                        background-color: #FFF8DD;
                        img{
                            width: 35px;
                            height: 16px;
                        }
                    }
                }
                .photos{
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;
                    margin-bottom: 70px;
                    margin-left: 85px;
                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 8px;
                        margin: 5px;
                    }
                }
            }
        }
    }
}