doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="index.css")
        link(rel="stylesheet", href="normalize.css") 
        script(src="/dist/active.js")
        script(src="/dist/dist/active.dev.js")  
        script(src="/lol.js") 
    body 
        .wrapper
            .leftbar
                .logo-name
                    img.logo1(src="./assets/Logo@3x.svg", alt="logo")
                    p PROJECTUS
                    img(src="./assets/Search@3x.svg", alt="search")
                .profile
                    img(src="./images/jeangonzales.png", alt="jean")
                    p Jean Gonzales
                    br
                    p Product Owner
                    img(src="./assets/tri-tochki.svg", alt="")
                .tasks
                    .leftside
                        p 372
                        p Completed Tasks
                    .rightside
                        p 11
                        p Open Tasks
                .menu
                    p MENU
                    ul
                        li
                            a(href="#") Home
                        li
                            a(href="#") My Tasks
                        li
                            a(href="#") Notifications
            .main
                .topbar
                    .leftside
                        .block-top
                            img.logo(src="./assets/Shapes@2x.png", alt="logo2")
                            p Website Redesign
                            .oval-logo
                                img(src="./assets/tri-tochki.svg", alt="dots")
                        .block-down
                            ul
                                li
                                    a(href="#") Tasks
                                li
                                    a(href="#") Kanban
                                li
                                    a(href="#") Activity
                                li.active
                                    a(href="#") Calendar
                                li
                                    a(href="#") Files
                    .rightside
                        .profiles
                            img(src="./images/wepik-photo-mode-20221017-22272.png", alt="profile1")
                            img(src="./images/wepik-photo-mode-20221017-22287.png", alt="profile2")
                            img(src="./images/wepik-photo-mode-20221017-223143.png", alt="profile3")
                        .buttons
                            button.share Share
                            button.chat Chat
                .content
                    .main-content
                        .text-day
                            p TODAY
                        .message1
                            .img
                                img(src="./assets/Icon@3x.svg", alt="success")
                            .text1
                                p Darika Samak mark as done Listing on Product Hunt so that we can reach as many potential users
                            .text-time-1
                                p 8:40 PM
                        .message2
                            .img-second
                                img(src="./assets/message-icon.svg", alt="comment")
                            .text2
                                p Emilee Simchenko commented on Account for teams and personal in bottom style
                            .text-time-2
                                p 7:32 PM
                        .message3
                            .text3
                                p During a project build, it is necessary to evaluate the product design and development against project requirements and outcomes
                        .message4
                            .img-triple
                                img(src="./assets/download-icon.svg", alt="upload")
                            .text4
                                p Darika Samak uploaded 4 files on An option to search in current projects or in all projects
                            .text-time-3
                                p 6:02 PM
                        .photos
                                img(src="./images/img1.jpg", alt="nature1")
                                img(src="./images/img2.jpg", alt="nature2")
                                img(src="./images/img3.jpg", alt="nature3")
                                img(src="./images/img4.jpg", alt="nature4")